@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
}

html {
  background: black;
  overflow: overlay;
}

.grid-container {
  width: 100%;
  height: 100%;
  z-index: 99;
  /*position: fixed;*/
  top: 0;
}

.background-container {
  position: fixed;
  inset: 0px;
  z-index: -1;
}

.background-container::before{
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-image: url(../public/bigboiii.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.25;
  filter: blur(50px);
}

.background-container::after{
  content: "";
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100%;
  background-image: url(../public/noise.png);
  background-repeat: repeat;
  opacity: 0.05;
  mix-blend-mode: overlay;
}

.same-bg-shadow {
  display: block;
  /*box-shadow: 0 0 200px 100px #151515;*/
}

@layer components {
  .boiii-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-red-600;
  }

  .boiii-text-narrow {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-[#E53E21];
  }

  .button-container > button,
  .button-container > a {
    @apply p-1 md:p-2 bg-[#2a2827] text-[#f4f0ebc6] transition-all cursor-pointer rounded-md md:rounded-lg text-sm md:text-base w-[80px] md:w-[140px];
    border: 1px solid #44413f;
    transition: all 0.1s linear;
  }

  .button-container > a:hover {
    @apply bg-[#302d2c];
    border: 1px solid #4a4745;
  }

  .button-container > button[disabled] {
    @apply opacity-40 cursor-default;
  }
}

@media (pointer:fine) {
  ::-webkit-scrollbar {
      width: 20px;
  }

  ::-webkit-scrollbar-track {
      background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
      background-color: rgba(117, 110, 107, 0.4);
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
      transition: all 0.1s linear;
  }

  ::-webkit-scrollbar-thumb:hover {
      background-color: rgba(117, 110, 107, 0.8);
  }
}